//
// Demo App Styles
//

// Import the typography styles.
// @import "demo/typography.scss";

body {
  margin: 0;
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, Segoe UI, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: 1.5;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em 0;
  font-weight: 400;
  line-height: 1.2;
}

h1 {
  font-size: 2em;
}

a {
  color: inherit;
}

@media (min-width: 400px) {
  body {
    font-size: 16px;
  }
}

// We need the theming variables for the following styles.
@import "smui-theme";
// This adds classes like "mdc-theme--primary-bg".
@import "@material/theme/mdc-theme";
@import "@material/elevation/mixins";
// Main Top App Bar styling.
@import "@smui/top-app-bar/style";
@import "@primer/css/markdown/index.scss";

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
    color: rgba(0,0,0,.87) !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__icon:hover~.mdc-notched-outline .mdc-notched-outline__leading,.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__icon:hover~.mdc-notched-outline .mdc-notched-outline__notch,.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__icon:hover~.mdc-notched-outline .mdc-notched-outline__trailing,.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__input:hover~.mdc-notched-outline .mdc-notched-outline__leading,.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__input:hover~.mdc-notched-outline .mdc-notched-outline__notch,.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__input:hover~.mdc-notched-outline .mdc-notched-outline__trailing {
  border-color: rgba(0,0,0,.87) !important;
}

.mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
    color: rgba(0,0,0,.6) !important;
}

.mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
  border-color: rgba(0,0,0,.38) !important;
}

.mdc-icon-button__icon svg {
  color: black;
}


@media (prefers-color-scheme: dark) {
  html, body {
    background-color: rgb(20,20,20);
    color: rgb(245,245,245);
  }

  button.svelte-emoji-picker__trigger {
    color: hsla(0,0%,100%,.87);
  }

  .mdc-icon-button__icon svg {
    color: rgb(100,100,100);
  }

  .markdown-body .highlight pre, .markdown-body pre {
    background-color: rgb(50,50,50);
  }

  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-text-field__input {
      color: rgba(255,255,255,.87) !important;
  }

  .mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__icon:hover~.mdc-notched-outline .mdc-notched-outline__leading,.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__icon:hover~.mdc-notched-outline .mdc-notched-outline__notch,.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__icon:hover~.mdc-notched-outline .mdc-notched-outline__trailing,.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__input:hover~.mdc-notched-outline .mdc-notched-outline__leading,.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__input:hover~.mdc-notched-outline .mdc-notched-outline__notch,.mdc-text-field--outlined:not(.mdc-text-field--disabled):not(.mdc-text-field--focused) .mdc-text-field__input:hover~.mdc-notched-outline .mdc-notched-outline__trailing {
    border-color: rgba(255,255,255,.87) !important;
  }

  .mdc-text-field:not(.mdc-text-field--disabled) .mdc-floating-label {
      color: rgba(255,255,255,.6) !important;
  }

  .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__leading, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__notch, .mdc-text-field--outlined:not(.mdc-text-field--disabled) .mdc-notched-outline__trailing {
    border-color: rgba(255,255,255,.38) !important;
  }
}


.mdc-top-app-bar.top-app-bar {
  // Color the top bar with "surface" colors.
  @include mdc-top-app-bar-fill-color-accessible(surface);
  @include mdc-top-app-bar-icon-ink-color(on-surface);
  // Give it a shadow.
  /* @include mdc-elevation(4); */
  box-shadow: none;
  // Position it above the drawer.
  z-index: 7;
}

// Now on to the regular app styling stuff.

.mdc-top-app-bar__title, h1, h2 {
  font-family: 'Overpass', sans-serif !important;
  font-weight: 900 !important;
}

.mdc-top-app-bar__title {
  text-transform: uppercase !important;
}

/*
html {
  height: 100vh;
  width: 100vw;
  position: fixed;
}*/

body, app {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.drawer-container {
  flex-grow: 1;
  height: 0;
  display: flex;
}

.drawer, .main-content {
  overflow: auto;
  height: 100%;
}

.mdc-card {
  box-shadow: inset 1px -1px 0 rgba(100,121,143,0.122), inset -1px 1px 0 rgba(100,121,143,0.122) !important;
}

@import "@material/top-app-bar/variables";
.drawer.drawer-adjust {
  padding-bottom: $mdc-top-app-bar-row-height;
}

.app-content {
  flex: auto;
  position: relative;
  width: 0;
  flex-grow: 1;
}

.main-content {
  overflow: auto;
  display: flex;
}

.main-content section {
  padding: 16px;
  width: 100%;
  box-sizing: border-box;
}

.main-content section:after {
  height: 32px;
  display: block;
  content: " ";
}

.status {
  max-width: 100%;
  font-size: .9em;
  word-break: break-word;
  white-space: normal;
}

//
// MDC Typography
//
@import "@material/typography/mdc-typography";

$mdc-typography-font-family: unquote("'Source Sans Pro', sans-serif");

//
// Some defaults that may be helpful to you.
// If you just want to use these, and not the classes, you can instead import
// "@material/typography/mixins", and your CSS file will be smaller.
//
html {
  @include mdc-typography('body1');
}

h1 {
  @include mdc-typography('headline1');
}

h2 {
  @include mdc-typography('headline2');
}

h3 {
  @include mdc-typography('headline3');
}

h4 {
  @include mdc-typography('headline4');
}

h5 {
  @include mdc-typography('headline5');
}

h6 {
  @include mdc-typography('headline6');
}

caption {
  @include mdc-typography('caption');
}

small {
  font-size: .9em;
}

big {
  font-size: 1.1em;
}

b, strong {
  font-weight: bold;
}

p, button, textarea, input, h3, .mdc-floating-label {
  font-family: 'Source Sans Pro', sans-serif !important;
}

.svelte-emoji-picker {
    z-index: 1000;
}

.svelte-emoji-picker input {
  font-family: inherit;
  font-size: 16px;
  padding: 0.4em;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

.svelte-emoji-picker h3 {
  font-weight: 700;
  line-height: 1em;
}

button.svelte-emoji-picker__trigger {
    border: none;
    text-decoration: none;
    background: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 56px;
}

button.svelte-emoji-picker__trigger .fa-svelte {
  width: 20px;
  height: 20px;
}

button.svelte-emoji-picker__trigger:hover,
button.svelte-emoji-picker__trigger:focus {
    background: transparent;
}

.mdc-button.bigger {
  font-size: 30px;
  height: auto;
}

.fab a {
  text-decoration: none;
}

.main-content section {
  padding-top: 0;
}

.mdc-card {
  margin-top: 10px;
}
