//
// MDC Theme
//

@import "@material/theme/color-palette";

// Svelte Colors!
$mdc-theme-primary: #224c9c;
$mdc-theme-secondary: #312783;
// Other Svelte color: #40b3ff

$mdc-theme-background: transparent;
$mdc-theme-surface: transparent;

$mdc-theme-error: $material-color-red-900;
